/*elemento*/
body {
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

/*fonte externa*/
h1, h2 {
    font-family: 'Poppins', sans-serif;
}

/*ID*/
#topo {
    text-align: center;
    background-color: #1e293b;
    padding: 20px;
}

/*classes*/
.header {
    border-bottom: 3px solid #38bdf8;
}

.fotodeperfil {
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

section {
    background-color: #1e293b;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

/*listas*/
ul {
    list-style: none;
    padding: 0;
}

/*atributo*/
li[data-tipo="contato"] {
    color: #38bdf8;
    font-weight: bold;
}

/*texto*/
h2 {
    text-decoration: underline;
    font-weight: bold;
}

.periodo {
    font-style: italic;
}

/*links*/
a {
    color: #60a5fa;
    text-decoration: none;
}

/*pseudo*/
a:hover {
    color: #facc15;
}

h1 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}

